.grid-container {
    display: grid;
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
  
  .grid-container > div {
    background-color: #3C4048;
    border: 1px solid #C6DE41;
  }
  